/* TODO */
/* Note: The UI Breaks(overlaping of sectin at a screen width:384) */

/* CSS imports*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,300;1,400&display=swap');

/* Custom properties */
/* Fonts */
/* Colors */
/* Background Images/ Image sections */
/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    height: 100vh;
    width: 100vw;
}
/* *********************Desktop Styling************************ */

/* body element */
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(3, 4, 36,.67);
    background-image: url("../assets/black-graph-paper-texture-body.png");
    background-repeat: repeat;
    background-size: 100vh 100vw;
}
 /* Header */
 header{
    position: relative;
    height: 150px;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Permanent Marker', cursive;
    background-image: url(../assets/ripped-paper-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 135%;
 }
 .header-title{
    height: 95%;
    width: 50%;
    margin: 0px 0px;
 }
 .header-title h1{
    position: absolute;
    /* font-size: 71px;     */
    font-size: 5vw;    
    top: 25px;
    left: 50px;
}
 .header-title h2{
    position: absolute;
    top: 90px;
    left: 300px;
    /* font-size: 29px; */
    font-size: 2.5vw;
 }
 /* Main */
main{
    height: 366%;
    max-height: 366%;
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto;
}
main .project-presentation{ 
    height: 440px;
    /* height: 65%; */
    min-height: 34%;
    max-height: 40%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
main .project-presentation h3{ 
    font-family: "Permanent Marker", cursive;
    font-size: 2rem;
    color: white;
}

main .project-presentation figure{ 
    position: relative;
    top: 10px;
    height: 557px;
    width: 100vw;
    margin: 0 auto;
}

main .project-presentation figure figcaption { 
position: relative;
top: 5px;
}
.project-presentation figure figcaption i{ 
    font-family: "roboto",sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.project-image{
    position: relative;
    top: 8px;
    max-width: 90%;
    min-width: 300px;
}
.project-image:hover{
    cursor: pointer;
    opacity: 0.8;
}
 /* Footer */
 footer{
     position: relative;
     top: 0px;
    height: 100px;
 }

/* *********************Tablet Media Query********************* */
/* Width: 768px - 425 */
@media only screen and (max-width: 768px) {
    header{
        height: 10%;
    }
    .header-title h1{
        position: absolute;
        font-size: 6vw;
        top: 10%;
        left: 6%;
    }
    .header-title h2{
        position: absolute;
        top: 50%;
        top: 60%;
        left: 40%;
        font-size: 2.5vw;
    }

    /* presentation */
    main{
        height:196%;
    }
    /* .project-presentation h3{
    background-color: tomato;
        font-size: !important 20xp;
    } */
    
}
/* *********************Mobile Media Query********************* */
/* Width: 768px - 320px */

@media only screen and (max-width:425px) {
    header{
        height:8%;
    }
    .header-title h1{
        top: 5%;
        /* left: 10%; */
    }
    .header-title h2{
        top: 38%;
    }
    main{
        height: 118%;
    }
    .project-presentation figure figcaption i{
        /* font-size: 1.5rem; */
        font-size: 4.5vw;
    }
}